@media print {
   .no-print {
      display: none !important;
   }

   body * {
      visibility: hidden;
   }

   .report-print-area,
   .report-print-area * {
      visibility: visible;
   }

   .report-print-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
   }
}